.form-control {
    border-radius :3px;
    width:600px;
    margin-left:20px; 
 }
 .search-icon{
     position: relative;
     z-index: inherit;
     right: 25px;
     margin-top:10px;
     color:blue;
 }